<% if @hotel.errors.any? %>
<div class="errors">
  Form contains <%= pluralize(@hotel.errors.count, "error") %>:
  <ul>
    <% @hotel.errors.full_messages.each do |msg| %>
    <li>- <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
